<configuration>
  <system.webServer>
    <staticContent>
      <!-- Explicitly allow .crx files to be served -->
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
       <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- Exclude specific files from SPA routing -->
        <rule name="ExcludeSpecificFiles" stopProcessing="true">
          <match url="^(oracleuploadextension\.crx)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

         <rule name="ExcludeUpdateManifest" stopProcessing="true">
          <match url="^(fuseextension-updates\.xml)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- SPA Fallback Rule -->
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
